* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
body, html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
}

header, footer {
    margin: 0 0;
    padding: 20px;
    background-color: navy;
}

header {
    margin-bottom: 20px;
}

.container {
    text-align: center;
    flex: 1;
}

button {
    margin: 5px;
    border: 0;
    padding: 20px;
    font-size: 1rem;
    background-color: lightblue;
    color: navy;
}

img {
    width: 150px;
    border: 2px solid lightslategray;
}

.output {
    margin: 10px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

img:hover, button:hover {
    cursor: pointer;
}
#progress-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    .progress-box {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: red; /* set the initial color */
  }
